opencv-python
pandas
pyarrow
easydict
tqdm
matplotlib
numpy
torch
torchvision
albumentations[imgaug]
pyyaml
scikit-learn
wandb
mlflow
timm
umap-learn
plotly
pytorch_warmup
imageio
openpyxl
imagededup
imagesize
open_clip_torch
accelerate
faiss-cpu
onnx
onnxruntime
wget
gdown
hydra-core
ipyplot
lion-pytorch
torch_optimizer
kaggle
pytest
black
