opencv-python
pandas
easydict
tqdm
matplotlib
numpy
albumentations[imgaug]
pyyaml
scikit-learn
wandb
timm
umap-learn
plotly
kaleido
pytorch_warmup
imageio
openpyxl
imagededup
imagesize
lion-pytorch
open_clip_torch